---
---

@import "palettes";
@import "theme";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: $sans;
  background-color: var(--bg-canvas);
  color: var(--fg-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}