---
---

@import "palettes";
@import "theme";
@import "mixins";

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  max-width: 100%;
  margin: 10px 0;
  @include trim-v-margins;

  .tag {
    max-width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: $medium;
    color: var(--accent-text);
    background: var(--accent);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background $fast, opacity $fast;
    opacity: 0.85;

    &:hover,
    &[data-active="true"] {
      opacity: 1;
      background: var(--accent-hover);
    }

    &[data-highlight="true"] {
      opacity: 1;
      background: var(--accent);
    }
  }
}
