<footer>

  <div class="footer_row">
    {%- assign avatar_inserted = false -%}
    {%- assign non_email_count = 0 -%}
    {%- for entry in site.links -%}
      {%- assign key = entry[0] -%}
      {%- if key == "email" -%}{%- continue -%}{%- endif -%}
      {%- assign non_email_count = non_email_count | plus: 1 -%}
    {%- endfor -%}
    {%- assign mid = non_email_count | divided_by: 2 | plus: 1 -%}
    {%- assign idx = 0 -%}
    {%- for entry in site.links -%}
      {%- assign key = entry[0] -%}
      {%- if key == "email" -%}{%- continue -%}{%- endif -%}
      {%- assign idx = idx | plus: 1 -%}
      {%- if idx == mid and avatar_inserted == false -%}
        <a href="mailto:{{ site.links.email }}" class="footer_avatar" data-tooltip="Email">
          <img src="{{ 'images/ldg-avatar.png' | relative_url }}" alt="Avatar" />
        </a>
        {%- assign avatar_inserted = true -%}
      {%- endif -%}
      {%- assign value = entry[1] -%}
      {%- include link.html type=key icon="" tooltip="" link=value -%}
    {%- endfor -%}
  </div>

  <div class="footer_row">
    <span>
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
    </span>
  </div>

</footer>
